{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WatchList</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="markets ptb70">
    <div class="container">
        <div class="col-md-12">
          <div class="markets-pair-list">
            <div class="tab-content">
                <div id= "log">
                  test
                </div>
                <script>
                const listsocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/watchlist/'
                );
                console.log('123')
                listsocket.onopen = function() {
                  console.log('777')
                  socket.send("hello world");
                };
                listsocket.onmessage = function(e) {
                  console.log('888')
                  const data = JSON.parse(e.data);
                  document.querySelector('#log').innerHTML += (data.data + '\n');
                };
                if (listsocket.readyState == WebSocket.OPEN) {
                  console.log('100')
                  listsocket.onopen();
                }
                listsocket.onerror = function(ev)
                {
                    // console.log("Socket error: " + ev.data);
                }
                listsocket.onclose = function (event) {
                  console.log(event.code)
                }
              </script>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Stock</th>
                      <th>Price</th>
                      <th>Change</th>
                      <th>Change Percentage</th>
                      <th>Buy Volume</th>
                      <th>Bid Price</th>
                      <th>Sell Volume</th>
                      <th>Sell Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in all %}
                    <tr data-href="exchange-light.html">
                      <td><i class></i>{{i.code}}</td>
                      {%if i.state == 'up' %}
                        <td class="green">{{i.price}}</td>
                        <td class="green">{{i.change}}</td>
                        <td class="green">{{i.change_percentage}}</td>
                      {%endif%}
                      {%if i.state == 'do' %}
                        <td class="red">{{i.price}}</td>
                        <td class="red">{{i.change}}</td>
                        <td class="red">{{i.change_percentage}}</td>
                      {%endif%}
                      {%if i.state == 'un' %}
                        <td>{{i.price}}</td>
                        <td>{{i.change}}</td>
                        <td>{{i.change_percentage}}</td>
                      {%endif%}
                      <!-- <td>{{i.price}}</td>
                        <td>{{i.change}}</td>
                        <td>{{i.change_percentage}}</td> -->
                      <td>{{i.buy_quantity}}</td>
                      <td>{{i.buy_price}}</td>
                      <td>{{i.sell_quantity}}</td>
                      <td>{{i.sell_price}}</td>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="text-center">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/amcharts-core.min.js' %}"></script>
  <script src="{% static 'js/amcharts.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>